[Desktop Entry]
Version=1.0
Type=Application
Name=Instalar SpeedOS
Comment=Instalar o SpeedOS no seu computador
Exec=calamares
Icon=calamares
Terminal=false
Categories=System;
StartupNotify=true
